.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
  width: 1000px + $grid-gutter-width !important;
}
.social {
  font-size: 13px;
  letter-spacing: .075em;
  text-transform: uppercase;
  .icon {
    vertical-align: baseline;
  }
}

.banner {
  position: relative;
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;

  &-title,
  &-cat {
    position: absolute;
    font-size: $font-size-h3;
  }

  &-title {
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
  }

  &-cat {
    top: 10px;
    left: 15px;
    color: #fff;
  }
}

.cart {
  float: right;
  margin-bottom: $line-height-computed/4;
  font-family: "PT Sans";
  font-size: $font-size-small;
  font-style: italic;
}

.media--cart {
  margin-top: 50px;
  margin-bottom: $line-height-computed*2;
  padding-bottom: $line-height-computed*2;
  border-bottom: 1px solid #ebebeb;

  .media-left {
    padding-right: 30px;
  }
  .media-object {
    border: 1px solid #ebebeb;
  }
  .list-unstyled {
    margin-bottom: 0;
    > li {
      padding-top: 10px;
      padding-bottom: 9px;
      border-bottom: 1px solid #ebebeb;
      &:first-child,
      &:nth-child(2) {
        font-weight: 500;
      }

      &:first-child {
        font-size: 15px;
      }
      &:last-child {
        padding-top: 45px;
        padding-bottom: 0;
        border-bottom-color: transparent;
      }
    }
  }
  a {
    font-style: italic;
    text-decoration: underline;
    & + a {
      padding-left: 30px;
    }
  }
}

.copyright {
  margin-bottom: $line-height-computed/2;
  font-family: "PT Sans";
  font-size: 10px;
}

.panel {
  box-shadow: none;
  .title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    text-transform: uppercase;
  }
  .table {
    margin-bottom: 0;
    > tbody > tr {
      &:last-child > td:last-child {
        font-weight: bold;
      }
      > td {
        padding-top: 2px;
        padding-bottom: 2px;
        border-top-width: 0;
        &:first-child {
          font-style: italic;
        }
        &:last-child {
          font-size: 13px;
          text-align: right;
        }
      }
    }
  }

  &-heading {
    border-bottom-width: 0;
  }
}

.form {
  label {
    font-weight: normal;
  }
  .form-group {
    margin-bottom: $line-height-computed;
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
    text-transform: uppercase;
  }
}
.product {
  display: block;
  margin-bottom: $line-height-computed*2;
  letter-spacing: .1em;

  &-caption {
    padding-right: 30px;
    padding-left: 30px;
  }

  &-price {
    float: right;
    margin-bottom: $line-height-computed/2;
    .text-muted {
      font-size: .93em;
    }
  }

  &-desc {
    clear: both;
    display: table;
    table-layout: fixed;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    > li {
      display: table-cell;
      text-align: center;
      &:first-child {
        width: percentage(200px/300px);
        text-transform: uppercase;
      }
      &:last-child {
        font-size: .93em;
      }
    }
  }
}

.filter {
  margin-bottom: $line-height-computed;
  border-color: #ebebeb;
  border-style: solid;
  border-width: 1px 0;
}
.rate {
  margin-bottom: $line-height-computed;
  font-size: 13px;
  &-control {
    display: inline-block;
  }
}

.btn-group--main {
  margin-bottom: 15px;
  font-style: italic;
  .dropdown-toggle {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 260px;
    background-color: #f0f0f0;
    border-color: #b2b2b2;
    font-size: 22px;

    .icon {
      float: right;
      margin-top: 10px;
    }
  }
  &.open .dropdown-toggle {
    background-color: #f0f0f0;
    border-color: #b2b2b2;
    box-shadow: none;
    .icon {
      @extend .icon--caret-up;
    }
  }

  .dropdown-menu {
    margin-top: -2px;
    width: 100%;
    background-color: #f0f0f0;
    border-color: transparent #b2b2b2 #b2b2b2;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    > li > a {
      font-size: 22px;
      &:hover,
      &:focus {
        background-color: transparent;
        color: #bfbfbf;
      }
    }
    > .active {
      display: none;
    }
  }
}

.pattern {

  &-image {
    @include center-block;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 25px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    > li {
      flex: 0 0 20%;
      padding: 15px;
      > img {
        @include img-responsive;

        &:hover,
        &:focus {
          cursor: pointer;
          opacity: .5;
        }
      }
    }
  }

  &-control {
    @include clearfix;
    margin-right: -3px;
    margin-left: -3px;
    li {
      float: left;
      padding-right: 3px;
      padding-left: 3px;
      width: 50%;
    }
    .btn {
      font-size: 17px;
    }
  }
}
