.l {
  padding-top: 136px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-top: 15px solid #000;

  &-header,
  &-footer {
    flex: none;
  }

  &-header {
    position: fixed;
    top: 15px;
    z-index: 1;
    margin-bottom: $line-height-computed;
    padding-top: $line-height-computed*1.5;
    width: 100%;
    background-color: #fbfbfb;
  }

  &-main {
    flex: 1 0 auto;
  }

  &-nav {
    margin-top: 60px;
  }

  &-footer {
    padding-top: $line-height-computed*2.5;
    background-color: #000;
    color: #fff;
  }
}
