$icon-font-path:              "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$brand-primary:               #000;
$body-bg:                     #fbfbfb;
$text-color:                  #000;
$font-family-base:            "Decima Mono Pro";

$grid-gutter-width:           10px;

$input-color-placeholder:     #bfbfbf;

$text-muted:                  #bfbfbf;
