.nav {
  letter-spacing: 0.1em;
  > .active > a {
    pointer-events: none;
  }
}

.nav--main {
  padding-top: $line-height-computed/2;
  padding-bottom: $line-height-computed/2;
  border-color: #ebebeb;
  border-style: solid;
  border-width: 1px 0;
  clear: both;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  > li {
    display: inline-block;
    vertical-align: middle;
  }
  > .has-logo > a {
    padding-right: 45px;
    padding-left: 45px;
  }
  .divider {
    color: #bfbfbf;
  }
}

.nav--secondary {
  margin: -20px auto $line-height-computed*1.5;
  width: 75%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  > li {
    display: inline-block;
    > a {
      padding: 4px;
      color: #fff;

      &:hover,
      &:focus {
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }
}

.nav--page {
  text-align: center;
  &.has-border {
    border-left: 1px solid #ebebeb;
  }

  > li {
    display: inline-block;
    > a {
      padding-right: 10px;
      padding-left: 10px;
      color: #bfbfbf;

      &:hover,
      &:focus {
        color: inherit;
      }
    }
  }

  > .active > a {
    color: inherit;
  }
  .divider {
    color: #bfbfbf;
  }
}

.nav--profile {
  border-color: #ebebeb;
  border-style: solid;
  border-width: 1px 0;
  color: #bfbfbf;
  letter-spacing: .05em;
  text-transform: uppercase;
  > li {
    display: inline-block;
    > a {
      color: inherit;
    }
  }
  > .active > a {
    color: $text-color;
  }
}
