---
title: Cart
---
<section class="page page--profile">
  <div class="container">
    <div class="row">
      <div class="page-body">
        <nav role="navigation">
          <ul class="nav nav--profile">
            <li><a href="profile.html">My Works</a></li>
            <li class="divider">/</li>
            <li class="active"><a href="#">Shopping Bag</a></li>
          </ul>
        </nav>
        <div class="media media--cart">
          <div class="media-left">
            <a href="shop-item.html">
              <img class="media-object" src="images/figure-03.jpg" alt="">
            </a>
          </div>
          <div class="media-body">
            <ul class="list-unstyled">
              <li><span class="pull-right"><small>Price</small> $45</span> Dress For Forest</li>
              <li>#dff0021pn</li>
              <li><span class="pull-right">size: M</span> Piece of cloth: Dress</li>
              <li><a href="shop-item.html">View</a> <a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
        <div class="media media--cart">
          <div class="media-left">
            <a href="shop-item.html">
              <img class="media-object" src="images/figure-04.jpg" alt="">
            </a>
          </div>
          <div class="media-body">
            <ul class="list-unstyled">
              <li><span class="pull-right"><small>Price</small> $35</span> Dress For Night walk</li>
              <li>#dff0024pn</li>
              <li><span class="pull-right">size: M</span> Piece of cloth:  T-shirt</li>
              <li><a href="shop-item.html">View</a> <a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
      </div>
      <aside class="page-sidebar">
        <form class="panel panel-default" action="/" role="form">
          <header class="panel-heading">
            <h5 class="title">Order Summary</h5>
          </header>
          <div class="panel-body">
            <table class="table">
              <tbody>
                <tr>
                  <td>Subtotal</td>
                  <td>$90</td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>$9</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>$99</td>
                </tr>
              </tbody>
            </table>
          </div>
          <footer class="panel-footer">
            <button class="btn btn-primary btn-block" type="submit">ORDER</button>
          </footer>
        </form>
        <form class="panel panel-default" action="/" role="form">
          <header class="panel-heading">
            <h5 class="title">Account Information</h5>
          </header>
          <div class="panel-body">
            <p>
              <i>Nagornaya Polina
              polina.nagornaya@gmail.com
              12/11/1987</i>
            </p>
            <p>
              <i>Shipping Address
              Jokai utca 12, 2 emelet, 6 ajto
              Budapest , 1066
              Hungary</i>
            </p>
          </div>
          <footer class="panel-footer">
            <button class="btn btn-default btn-block" type="submit">EDIT</button>
          </footer>
        </form>
      </aside>
    </div>
  </div>
</section>
