---
title: Create
---
<section class="page page--create">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <canvas id="show" width="547" height="646"></canvas>
      </div>
      <div class="col-xs-4">
        <canvas id="pattern" width="250" height="250"></canvas>
      </div>
    </div>
  </div>
</section>
