---
title: Main
---
<section class="page page--main">
  <div class="container">
    <section class="swiper-container">
      <div class="static-banner">
        <div class="static-banner-inner">
          <h3>Set  your mood to the day!</h3>
          <h4>Create your own patterned clothes.</h4>
          <p>Dress for:</p>
          <div class="btn-group btn-group--main js-cat">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
              <span class="js-cat-text">Forest</span>
              <span class="icon icon--caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="active"><a href="create.html">Forest</a></li>
              <li><a href="create-2.html">Sunny day</a></li>
              <li><a href="create-3.html">Sea adventure</a></li>
              <li><a href="create-4.html">Night Walk</a></li>
            </ul>
          </div>
          <p><a class="btn btn-primary js-cat-link" href="create.html">Get started</a></p>
        </div>
      </div>
      <div class="swiper-wrapper">
        <figure class="swiper-slide">
          <img src="images/slide-00.jpg" alt="">
        </figure>
        <figure class="swiper-slide">
          <img src="images/slide-01.jpg" alt="">
        </figure>
        <figure class="swiper-slide">
          <img src="images/slide-02.jpg" alt="">
        </figure>
        <figure class="swiper-slide">
          <img src="images/slide-03.jpg" alt="">
        </figure>
      </div>
      <div class="swiper-pagination"></div>
    </section>
  </div>
</section>
