---
title: Main
---
<section class="page page--main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a class="banner" href="#">
          <span class="banner-title">There’s a new way<br> to create custom t shirts.</span>
          <img src="images/figure-00.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-8">
        <a class="banner" href="#">
          <span class="banner-cat">Look book</span>
          <img src="images/figure-01.jpg" alt="">
        </a>
      </div>
      <div class="col-xs-4">
        <a class="banner" href="#">
          <span class="banner-cat">80’s</span>
          <img src="images/figure-02.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
