---
title: Inspirate
---
<section class="page page--inspirate">
  <div class="container">
    <div class="page-body">
      <p><span class="icon icon--dots"></span></p>
      <p>The 1980s and 1990s was a world rich in colours. Individualism strenghtened and the rules
      became secondary as everyone started doing whatever they wished free from any kind of prejudice.
      ”What stops us from becoming who we wish as opposed to defining ourselves based on the
      expectations of rigid conventions?”</p>
      <p>We love colours and the act of creating; moreover, we love patterns.</p>
      <p>Our purpose was to create a joyful, friendly cloth brand that makes your days brighter. You days will be sunnier
      not only by dressing in a cheerful style but also knowing that you personally are involved in our project.
      You join us in creating a sunny day, a forest, a nightwalk and a sea adventure.</p>
      <p>We are determined to help you dress nicely. Further, we believe that thinking back to those good old days with
      a feeling of sweet nostalgia is important. This is our mission. This is what drives us.
      Join us in dressing with joy.</p>
      <psna class="icon icon--inspirate"></psna>
    </div>
  </div>
</section>
