---
title: Inspirate
---
<section class="page page--inspirate">
  <div class="container">
    <div class="page-body">
      <p>Meet Sara and Nelle, almost identical twins with the beachy blonde locks
      our inner mermaid can only dream of! One loves to dance, the other loves
      theatre, but one thing they can both agree on is a trip to the local
      ice cream parlour…</p>
      <p>On a recent adventure in the US we put symmetry in motion exploring
      the seafront towns of Savannah, armed with a camera and Wes Anderson’s
      pastel palette in mind. Blue skies, seashells and sunbathers ensue…
      and thats just the cute new clothes!</p>
    </div>
  </div>
</section>
