---
title: Profile
---
<section class="page page--profile">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <nav role="navigation">
            <ul class="nav nav--profile">
              <li class="active"><a href="#">My Works</a></li>
              <li class="divider">/</li>
              <li><a href="cart">Shopping Bag</a></li>
            </ul>
        </nav>
      </div>
      <div class="col-xs-4">
        <aside class="">
          <form class="panel panel--main" action="/" role="form">
            <header class="panel-header">
              <h5>Account Information</h5>
            </header>
            <div class="panel-body">
              <p>
                Nagornaya Polina
                polina.nagornaya@gmail.com
                12/11/1987
              </p>
              <p>
                Shipping Address
                Jókai utca 12, 2 emelet, 6 ajto
                Budapest , 1066
                Hungary
              </p>
            </div>
            <footer class="panel-footer">
              <button class="btn btn-default" type="submit">EDIT</button>
            </footer>
          </form>
        </aside>
      </div>
    </div>
  </div>
</section>
