---
title: Profile
---
<section class="page page--profile">
  <div class="container">
    <div class="row">
      <div class="page-body">
        <nav role="navigation">
          <ul class="nav nav--profile">
            <li class="active"><a href="#">My Works</a></li>
            <li class="divider">/</li>
            <li><a href="cart.html">Shopping Bag</a></li>
          </ul>
        </nav>
        <div class="media media--cart">
          <div class="media-left">
            <a href="shop-item.html">
              <img class="media-object" src="/images/figure-05.jpg" alt="">
            </a>
          </div>
          <div class="media-body">
            <ul class="list-unstyled">
              <li>
                <span class="pull-right"><small>Price</small> $45</span>
                <span class="text-uppercase">Sunny day</span>
              </li>
              <li>#dff0021pn</li>
              <li><span class="pull-right">size: M</span> Piece of cloth: Dress</li>
              <li><a href="shop-item.html">View</a> <a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
        <div class="media media--cart">
          <div class="media-left">
            <a href="shop-item.html">
              <img class="media-object" src="/images/figure-06.jpg" alt="">
            </a>
          </div>
          <div class="media-body">
            <ul class="list-unstyled">
              <li>
                <span class="pull-right"><small>Price</small> $35</span>
                <span class="text-uppercase">Night walk</span>
              </li>
              <li>#dfnw020np</li>
              <li><span class="pull-right">size: S</span> Piece of cloth: T-shirt</li>
              <li><a href="shop-item.html">View</a> <a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
        <div class="media media--cart">
          <div class="media-left">
            <a href="shop-item.html">
              <img class="media-object" src="/images/figure-07.jpg" alt="">
            </a>
          </div>
          <div class="media-body">
            <ul class="list-unstyled">
              <li>
                <span class="pull-right"><small>Price</small> $25</span>
                <span class="text-uppercase">Forest</span>
              </li>
              <li>#dff015np</li>
              <li><span class="pull-right">size: M</span> Piece of cloth: Tank</li>
              <li><a href="shop-item.html">View</a> <a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
      </div>
      <aside class="page-sidebar">
        <form class="panel panel-default" action="/" role="form">
          <header class="panel-heading">
            <h5 class="title">Account Information</h5>
          </header>
          <div class="panel-body">
            <p>
              Nagornaya Polina
              polina.nagornaya@gmail.com
              12/11/1987
            </p>
            <p>
              Shipping Address
              Jókai utca 12, 2 emelet, 6 ajto
              Budapest , 1066
              Hungary
            </p>
          </div>
          <footer class="panel-footer">
            <button class="btn btn-default btn-block" type="submit">EDIT</button>
          </footer>
        </form>
      </aside>
    </div>
  </div>
</section>
