---
title: Shop
---
<nav class="l-nav" role="navigation">
  <div class="container">
    <ul class="nav nav--page text-uppercase">
      <li><a href="shop-forest.html">Forest</a></li>
      <li class="divider">/</li>
      <li><a href="#">Sunny day</a></li>
      <li class="divider">/</li>
      <li><a href="#">Sea adventure</a></li>
      <li class="divider">/</li>
      <li><a href="#">Night walk</a></li>
      <li class="divider">/</li>
      <li class="active"><a href="#">All</a></li>
    </ul>
    <div class="filter">
      <div class="row">
        <div class="col-xs-8">
          <ul class="nav nav--page text-uppercase pull-left">
            <li class="active"><a href="#">Ladies'</a></li>
            <li class="divider">/</li>
            <li><a href="#">Men's</a></li>
          </ul>
          <ul class="nav nav--page pull-left text-lowercase has-border">
            <li class="active"><a href="#">t-shirts</a></li>
            <li class="divider">/</li>
            <li><a href="#">tops</a></li>
            <li class="divider">/</li>
            <li><a href="#">sweatshirts</a></li>
            <li class="divider">/</li>
            <li><a href="#">tees</a></li>
            <li class="divider">/</li>
            <li><a href="#">dresses</a></li>
            <li class="divider">/</li>
            <li><a href="#">all</a></li>
          </ul>
        </div>
        <div class="col-xs-4">
          <ul class="nav nav--page text-lowercase has-border">
            <li class="active"><a href="#">by designers</a></li>
            <li class="divider">/</li>
            <li><a href="#">by creators</a></li>
            <li class="divider">/</li>
            <li><a href="#">all</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="page page--products">
  <div class="container">
    <header class="page-header">
      <h1 class="text-center"><span class="icon icon--cat-00"></span></h1>
    </header>
    <div class="row">
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-00.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-01.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-02.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-00.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-01.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/product-02.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
