---
title: Shop item
---
{{> nav }}
<section class="page page--product">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 text-center">
        <img src="images/product-00-large.png" alt="">
        <div class="rate">
          <div class="rate-control js-raty"></div>
          76
        </div>
      </div>
      <div class="col-xs-4">
        <form action="cart.html" role="form">
          <h3><span class="icon icon--cat-00"></span></h3>
          <ul class="list-desc list-unstyled">
            <li><span class="pull-right">Price $35</span> #dff0021pn</li>
            <li>Sweatshirt</li>
            <li>Create by Mezinskaya Anastasia</li>
            <li>
              <span class="pull-right"><a href="#">size guide</a></span>
              Size: <span class="list-desc-size">s  /  m  / l</span>
            </li>
          </ul>
          <div class="btn-group">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" aria-expanded="false">
              Details <span class="icon icon--caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>-100% Cotton</li>
              <li>-Dry clean any solvent except trichloroethylene (P)</li>
              <li>-40 degrees machine wash</li>
              <li>-Do not bleach</li>
              <li>-Iron medium heat</li>
            </ul>
          </div>
          <footer class="list-footer">
            <button class="btn btn-primary btn-block" type="submit">Add to shopping bag</button>
            <a href="cart.html">Check shopping bag</a>
          </footer>
        </form>
      </div>
    </div>
  </div>
</section>
