---
title: Shop - Sunny Day
---
{{> nav }}
<section class="page page--products">
  <div class="container">
    <header class="page-header">
      <h1 class="text-center"><span class="icon icon--cat-01"></span></h1>
    </header>
    <div class="row">
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/1.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/2.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/3.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/4.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/5.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="col-xs-4">
        <a class="product" href="shop-item.html">
          <img class="img-responsive" src="images/sunny-day/6.png" alt="">
          <div class="product-caption">
            <span class="product-price">
              <span class="text-muted">Price</span> $35
            </span>
            <ul class="product-desc list-unstyled">
              <li>Top for sunny day</li>
              <li>#dff0021pn</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
