<footer class="l-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="nav nav--secondary">
          <li><a href="create.html">Create</a></li>
          <li>/</li>
          <li><a href="lookbook.html">Lookbook</a></li>
          <li>/</li>
          <li><a href="shop.html">Shop</a></li>
          <li>/</li>
          <li><a href="inspirate.html">Inspirate</a></li>
          <li><a href="#">Size guide</a></li>
          <li>/</li>
          <li><a href="#">Shipping</a></li>
          <li>/</li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-xs-6">
        <form class="form pull-right" action="/" role="search">
          <input class="form-control" type="search" placeholder="search">
        </form>
        <ul class="social list-inline">
          <li>Follow us:</li>
          <li><a href="#"><span class="icon icon--facebook"></span></a></li>
          <li><a href="#"><span class="icon icon--twitter"></span></a></li>
          <li><a href="#"><span class="icon icon--pinterest"></span></a></li>
          <li><a href="#"><span class="icon icon--instagram"></span></a></li>
          <li><a href="#"><span class="icon icon--gplus"></span></a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">&copy; 2015 dressfor.com</div>
  </div>
</footer>
