<header class="l-header">
  <div class="container">
    <ul class="list-inline cart">
      <li><a href="profile.html">My profile</a></li>
      <li><a href="cart.html">Shopping bag (2)</a></li>
    </ul>
    <ul class="nav nav--main">
      <li><a href="create.html">Create</a></li>
      <li class="divider">/</li>
      <li><a href="lookbook.html">Lookbook</a></li>
      <li class="has-logo">
        <a href="/"><span class="icon icon--logo"></span></a>
      </li>
      <li><a href="shop.html">Shop</a></li>
      <li class="divider">/</li>
      <li><a href="inspirate.html">Inspirate</a></li>
    </ul>
  </div>
</header>
