<header class="l-header">
  <div class="container">
    <ul class="list-inline cart">
      <li><a href="#">My profile</a></li>
      <li><a href="#">Shopping bag (2)</a></li>
    </ul>
    <ul class="nav nav--main">
      <li><a href="#">Create</a></li>
      <li class="divider">/</li>
      <li><a href="#">Lookbook</a></li>
      <li class="has-logo">
        <a href="#"><span class="icon icon--logo"></span></a>
      </li>
      <li><a href="shop.html">Shop</a></li>
      <li class="divider">/</li>
      <li><a href="#">Inspirate</a></li>
    </ul>
  </div>
</header>
